#about {
  width: 100%;
  background-image: url("../images/about2.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e2d4ed;
  position: relative;
  min-height: 100vh;
  color: #9AD5AB;
  padding-top: 3.5em;
  font-size: 16px;


  .title {
    text-align: center; 
    margin: 0;
  }

  h2,h3{
    color: #bd9438
  }
  
  .first{
    padding-right: 4em;
  }

  .fa-heart{
    padding-left: 24em;
    padding-top: 1.5em; 
    color: #bd9438;
  }
  
  nav{
    left: 0;
    right: 0;
    position: absolute;
    top: 1em;

    #about-link {
      display: none;
    }

  }

  a{
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2vw;
    margin-left: 2em;
    display: inline-block;
    transition: transform 0.4s ease-in;
    color: #bd9438;
    &:hover{
      color: #bd9438;
      text-decoration: none;
    }
  }

  .navbar-brand{
    margin: 0;
    font-size: 2vw;
    padding: 0;
    margin-top: 0.4em;
    padding-left: 2em;
    color: #bd9438;
  }
}