#services {
  width: 100%;
  height: auto;
  background-color: #FFFFFF; 

  .title {
    text-align: center;
    margin-top: 3em; 
    color: #bd9438;
  }
  
  .first{
    padding-right: 4em;
  }

  .fa-heart{
    padding-left: 27em;
    padding-top: 1.7em; 
    color: #bd9438;
  }
  .last{
    padding-bottom: 2.5em;
  }
}
