#roulette_page{
  background-repeat: no-repeat;
  background-image: url("../images/wall.jpg");
  background-size: cover;
  color: #322B2B;

  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#funding_page{
  background-repeat: no-repeat;
  background-image: url("../images/pastry.jpg");
  background-size: cover;
  color: #FF050A;

  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#calci_page{
  background-repeat: no-repeat;
  background-image: url("../images/cat.jpg");
  background-size: cover;
  color: #000;

  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#website_page{
  background-repeat: no-repeat;
  background-image: url("../images/chair.jpg");
  background-size: cover;
  color: #FFF;

  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#pex_page{
  background-repeat: no-repeat;
  background-image: url("../images/wind.jpg");
  background-size: cover;
  color: #FFD244;

  h2,h3{
    color: #FC989A;
  }

  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#euler_page{
  background-repeat: no-repeat;
  background-image: url("../images/blue.jpg");
  background-size: cover;
  color: #3D392A;
  
  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#mod_page{
  background-repeat: no-repeat;
  background-image: url("../images/rainbow.jpg");
  background-size: cover;
  color: #3D392A;
  
  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}
#personal_page{
  background-repeat: no-repeat;
  background-image: url("../images/japan.jpg");
  background-size: cover;
  color: #034F18;
  
  .button_01{
    a, a:hover {
      background-color: #BA0508;
      color: #FFF;
      text-decoration: none;
      padding: 1em 1em;
      border-radius: 0.5em;
      font-weight: 700;
      display: inline-block;
      margin: 2em 0;
    }
  }
}