#projects_page {
  background-repeat: no-repeat;
  background-image: url("../images/brown.jpg");
  background-size: cover;

  #projects {
    padding: 30px 15px;

    .product_box {
      background: transparent;
      padding: 10px 10px;
      margin-bottom: 10px;
      height: 260px;
      text-align: center;
      color: #3F0303;
    }

    .product_box:hover {
      background: #e7ebce;
    }

    .product_box a {
      text-decoration: none;
    }

    .product_box a:hover {
      text-decoration: none; 
    }

    .product_box a img {
      border: 1px solid #ffffff;
    }

    .product_box:hover h3 {
      color: #006695;
    }
  }
}
